# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
yarn.lock
android/build
ios/build
node_modules
android/app/build/
android/app/build/generated/assets/
android/app/build/generated/res/
android/app/build/generated/source/aidl/
android/app/build/generated/source/apt/
android/app/build/generated/source/rs/
android/app/build/intermediates/dependency-cache/
android/app/build/intermediates/exploded-aar/chatWith/react-native-vector-icons/unspecified/aidl/
android/app/build/intermediates/exploded-aar/chatWith/react-native-vector-icons/unspecified/assets/
android/app/build/intermediates/exploded-aar/chatWith/react-native-vector-icons/unspecified/jni/
android/app/build/intermediates/exploded-aar/chatWith/react-native-vector-icons/unspecified/libs/
android/app/build/intermediates/exploded-aar/chatWith/react-native-vector-icons/unspecified/res/
android/app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.0.1/aidl/
android/app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.0.1/assets/
android/app/build/intermediates/exploded-aar/com.android.support/support-v4/23.0.1/assets/
android/app/build/intermediates/exploded-aar/com.android.support/support-v4/23.0.1/libs/
android/app/build/intermediates/exploded-aar/com.android.support/support-v4/23.0.1/res/
android/app/build/intermediates/exploded-aar/com.facebook.fbui.textlayoutbuilder/textlayoutbuilder/1.0.0/aidl/
android/app/build/intermediates/exploded-aar/com.facebook.fbui.textlayoutbuilder/textlayoutbuilder/1.0.0/assets/
android/app/build/intermediates/exploded-aar/com.facebook.fbui.textlayoutbuilder/textlayoutbuilder/1.0.0/jni/
android/app/build/intermediates/exploded-aar/com.facebook.fbui.textlayoutbuilder/textlayoutbuilder/1.0.0/libs/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/drawee/1.3.0/aidl/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/drawee/1.3.0/assets/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/drawee/1.3.0/jni/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/drawee/1.3.0/libs/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/fbcore/1.3.0/aidl/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/fbcore/1.3.0/assets/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/fbcore/1.3.0/jni/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/fbcore/1.3.0/libs/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/fbcore/1.3.0/res/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/fresco/1.3.0/aidl/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/fresco/1.3.0/assets/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/fresco/1.3.0/jni/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/fresco/1.3.0/libs/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/fresco/1.3.0/res/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/imagepipeline-base/1.3.0/aidl/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/imagepipeline-base/1.3.0/assets/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/imagepipeline-base/1.3.0/jni/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/imagepipeline-base/1.3.0/libs/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/imagepipeline-base/1.3.0/res/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/imagepipeline-okhttp3/1.3.0/aidl/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/imagepipeline-okhttp3/1.3.0/assets/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/imagepipeline-okhttp3/1.3.0/jni/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/imagepipeline-okhttp3/1.3.0/libs/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/imagepipeline-okhttp3/1.3.0/res/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/imagepipeline/1.3.0/aidl/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/imagepipeline/1.3.0/assets/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/imagepipeline/1.3.0/libs/
android/app/build/intermediates/exploded-aar/com.facebook.fresco/imagepipeline/1.3.0/res/
android/app/build/intermediates/exploded-aar/com.facebook.react/react-native/0.54.3/aidl/
android/app/build/intermediates/exploded-aar/com.facebook.react/react-native/0.54.3/assets/
android/app/build/intermediates/exploded-aar/com.facebook.react/react-native/0.54.3/libs/
android/app/build/intermediates/exploded-aar/com.facebook.soloader/soloader/0.1.0/assets/
android/app/build/intermediates/exploded-aar/com.facebook.soloader/soloader/0.1.0/res/
android/app/build/intermediates/exploded-aar/org.webkit/android-jsc/r174650/assets/
android/app/build/intermediates/exploded-aar/org.webkit/android-jsc/r174650/res/
android/app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
android/app/build/intermediates/incremental/packageDebugAndroidTest/
android/app/build/intermediates/incremental/packageRelease/
android/app/build/intermediates/incremental/processDebugResources/
android/app/build/intermediates/jniLibs/
android/app/build/intermediates/rs/
android/app/build/intermediates/shaders/
android/app/build/intermediates/transforms/mergeJavaRes/
android/app/build/tmp/compileDebugJavaWithJavac/
package-lock.json
